<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        <center>
            <h3> Login Here </h3>
            <form id="login-form" method="POST">
                <table>
                    <tr>
                        <td>Username: </td>
                        <td>
                            <input type="text" name="username" />
                        </td>
                    </tr>

                    <tr>
                        <td>Password: </td>
                        <td>
                            <input type="password" name="password" placeholder="******" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" value="Login" />
                        </td>
                    </tr>

                    <tr> 
                        <td>
                            Not a member yet? <a href="register.html"> Sign Up </a>
                        </td>
                    </tr>
                </table>

            </form>
        </center>

        <script src="./login.js"></script>

    </body>
</html>
